##############################
## Java
##############################
#
.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
hs_err_pid*
##############################
## Idea
##############################
.idea/
.promptLib/
*.iml
*.log
out
target/
